/Debug/LinqBridge.dll
/Debug/MessageBoxManager.dll
/Debug/MessageBoxManager.pdb
/Debug/MyDownloader.Core.dll
/Debug/MyDownloader.Core.dll.config
/Debug/MyDownloader.Core.pdb
/Debug/MyDownloader.Extension.dll
/Debug/MyDownloader.Extension.dll.config
/Debug/MyDownloader.Extension.pdb
/Debug/Newtonsoft.Json.dll
/Debug/Newtonsoft.Json.xml
/Debug/OnGPUsLost.bat
/Debug/SQLite.Net.Platform.Generic.dll
/Debug/SQLite.Net.Platform.Win32.dll
/Debug/SQLite.Net.dll
/Debug/SharpCompress.dll
/Debug/System.Data.SQLite.dll
/Debug/System.Data.SQLite.dll.config
/Debug/System.Data.SQLite.xml
/Debug/cpuid.dll
/Debug/cpuid.exp
/Debug/cpuid.ilk
/Debug/cpuid.lib
/Debug/cpuid.pdb
/Debug/langs/en.lang
/Debug/log4net.dll
/Debug/log4net.xml
/Debug/setcpuaff.exe
/Debug/setcpuaff.ilk
/Debug/setcpuaff.pdb
/Debug/websocket-sharp.dll
/Debug/websocket-sharp.xml
/Debug/x64/SQLite.Interop.dll
/Debug/x86/SQLite.Interop.dll
/Debug/zPoolMiner.exe
/Debug/zPoolMiner.exe.config
/Debug/zPoolMiner.pdb
